ul.emojis {
	display:table;
	font-family:monospace;
	padding:0 0 1em 1.5em;
}

ul.emojis li {
	list-style:none;
	float:left;
	width:330px;
	margin-bottom:.5em;
}

img.emoji {
	vertical-align:middle;
	height:22px;
	width:22px;
}